@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.online{
    margin-left: 15cm;
    margin-top: 4cm;
    line-height: 2cm;
    font-weight: 800;
    font-size:xx-large;
    /* align-items: center;
    align-content: center; */

}